<div class="container-fluid">
  <div class="row">
    <div id="gallery" class="col-md-9">
      <div class="gallery">
        <div *ngFor="let pet of pets" class="gallery-pet fader">
        <img class="profile-picture" (click)="selectPet(pet)" [src]="'https://pettinder.herokuapp.com/'+ pet.image">
        <div class="overlay">
          <div (click)="selectPet(pet)" class="overlay-text">{{pet.name}}</div>
        </div>
        </div>
      </div>
    </div>

    <div  class="col-md-3">
      <div class="gallery-detail">
        <section *ngIf="selectedPet"  id="petProfile" class="tiny-dialog fader">
          <h3>{{selectedPet.name}}</h3>
          <p>{{selectedPet.profileText}}</p>
        </section>
      </div>
    </div>

  </div>
</div>



